In [1]:
import sys

In [2]:
sys.version_info

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS ")
else :
    print(' Windows ')

## 주식 정보 사이트

https://comp.fnguide.com/SVO2/asp/SVD_Main.asp

In [31]:
## HTML 정보 가져오기 위해 모듈 import

In [4]:
import urllib.request as req

In [5]:
import pandas as pd

##  그래프 세팅

In [6]:
#  차트 설정
%matplotlib inline
import matplotlib.pyplot as plt

#plt.rcParams["font.family"] =  "Malgun Gothic"
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

## 한글 세팅

In [7]:
from matplotlib import font_manager, rc
import sys

if sys.platform == 'darwin' :
    rc('font', family='AppleGothic')

    plt.rcParams['axes.unicode_minus'] = False
else :
    
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

## 특정 페이지 url 로 불러오기

In [8]:
fs_url = "https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A005930&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701"

In [9]:
fs_page = req.urlopen(fs_url)

## 판다스에서 html 파일에서 정보 가져오기

In [10]:
fs_table = pd.read_html(fs_page)

### 처리된 결과가 리스트이며 내부에 원소 개수가 6 개

In [32]:
type(fs_table)

list

In [11]:
len(fs_table)

6

## 다른 웹 페이지 처리

In [12]:
fs_url_= "https://comp.fnguide.com/SVO2/asp/SVD_Main.asp?pGB=1&gicode=A005930&cID=&MenuYn=Y&ReportGB=&NewMenuID=101&stkGb=701"

In [13]:
fs_page = req.urlopen(fs_url_)

In [14]:
fs_table = pd.read_html(fs_page)

In [15]:
len(fs_table)

17

## 8번째 저장된 정보를 확인

In [16]:
df_8= fs_table[8]

In [17]:
df_8

          구분        삼성전자   코스피 전기,전자        KOSPI
0       시가총액  2459550.00  3827330.00  13618780.00
1        매출액  2437714.00  4189727.00  22947211.00
2       영업이익   588867.00   853460.00   1973935.00
3     EPS(원)     6024.00    30675.88      6111.04
4        PER        6.42        5.29         9.97
5  EV/EBITDA        3.10        3.08         5.60
6        ROE       19.63       19.40         8.96
7      배당수익률        3.66        2.99         2.23
8     베타(1년)        1.28        1.27         1.00

In [18]:
df_1= fs_table[1]

In [19]:
df_1.head()

      잠정실적발표일  잠정실적(영업이익, 억원)  예상실적대비(%)  전년동기대비(%)
0  2019/04/05           62333     -12.23     -60.15

## 삼성전자 정보만 추출

In [20]:
df_8= fs_table[8]
df_8 = df_8.set_index(df_8.columns[0])

In [21]:
df_8 = df_8[df_8.columns[:1]]

In [22]:
df_8

                 삼성전자
구분
시가총액       2459550.00
매출액        2437714.00
영업이익        588867.00
EPS(원)        6024.00
PER              6.42
EV/EBITDA        3.10
ROE             19.63
배당수익률            3.66
베타(1년)           1.28

In [23]:
df_8.columns

Index(['삼성전자'], dtype='object')

## 칼럼을 코드로 변경

In [24]:
df_8.columns = ['A005930']

In [25]:
df_8

              A005930
구분
시가총액       2459550.00
매출액        2437714.00
영업이익        588867.00
EPS(원)        6024.00
PER              6.42
EV/EBITDA        3.10
ROE             19.63
배당수익률            3.66
베타(1년)           1.28

In [26]:
df_8.T

구분,시가총액,매출액,영업이익,EPS(원),PER,EV/EBITDA,ROE,배당수익률,베타(1년)
A005930,2459550.0,2437714.0,588867.0,6024.0,6.42,3.1,19.63,3.66,1.28

## 함수로 작성

In [27]:
%%writefile perdata.py
import urllib.request as req
import pandas as pd

def make_perdata(firm_code) :
    
    fs_url = "https://comp.fnguide.com/SVO2/asp/SVD_Main.asp?pGB=1&cID=&MenuYn=Y&ReportGB=&NewMenuID=101&stkGb=701gicode=" + firm_code
    fs_page = req.urlopen(fs_url)
    fs_table = pd.read_html(fs_page)
    
    ## per data
    df_8= fs_table[8]
    df_8 = df_8.set_index(df_8.columns[0])
    df_8 = df_8[df_8.columns[:1]]
    df_8.columns = [firm_code ]
    temp = df_8.T
       
    
    return temp

Overwriting perdata.py

## 이 함수를 가지고 다시 정보를 검색해옴

In [28]:
import perdata

In [29]:
temp = perdata.make_perdata('A005930')

In [30]:
temp

구분,시가총액,매출액,영업이익,EPS(원),PER,EV/EBITDA,ROE,배당수익률,베타(1년)
A005930,2459550.0,2437714.0,588867.0,6024.0,6.42,3.1,19.63,3.66,1.28