In [1]:
"https://www.dhlottery.co.kr/gameResult.do?method=byWin"

'https://www.dhlottery.co.kr/gameResult.do?method=byWin'

In [2]:
"https://www.dhlottery.co.kr/gameResult.do?method=byWin&drwNo=858)"

'https://www.dhlottery.co.kr/gameResult.do?method=byWin&drwNo=858)'

In [3]:
import pandas as pd

## 빈 데이터 프레임 만들기

In [4]:
df = pd.DataFrame()

In [5]:
df.dtypes

Series([], dtype: object)

In [6]:
df

Empty DataFrame
Columns: []
Index: []

## 로또 담청 정보 가져오기

In [7]:
import urllib.request as requests
from bs4 import BeautifulSoup as bs
 
def get_request_by_episode(episode):
    

    # verify=False SSL 무시
    req = requests.urlopen('https://www.dhlottery.co.kr/gameResult.do?method=byWin&drwNo=' + episode)
    result = pd.read_html(req)
    
    return result

In [8]:
r = get_request_by_episode('858')

In [9]:
r[0]

,순위,등위별 총 당첨금액,당첨게임 수,1게임당 당첨금액,당첨기준,비고
0,1등,"19,821,127,131원",9,"2,202,347,459원",당첨번호 6개 숫자일치,1등 자동8 수동1
1,2등,"3,303,521,208원",41,"80,573,688원",당첨번호 5개 숫자일치+보너스 숫자일치,1등 자동8 수동1
2,3등,"3,303,522,425원",2075,"1,592,059원",당첨번호 5개 숫자일치,1등 자동8 수동1
3,4등,"5,308,800,000원",106176,"50,000원",당첨번호 4개 숫자일치,1등 자동8 수동1
4,5등,"8,946,475,000원",1789295,"5,000원",당첨번호 3개 숫자일치,1등 자동8 수동1

## 로또 번호 가져오기

In [10]:
def get_episode(episode):
    

    req = requests.urlopen('https://www.dhlottery.co.kr/gameResult.do?method=byWin&drwNo=' + episode)
    webpage = req.read()
    soup = bs(webpage, "lxml")
    
    title = soup.find("meta", id="desc")


    print(title["content"] if title else "No meta title given")

    df.loc[episode,'no'] = episode
    df.loc[episode,'str'] = title["content"]

In [11]:
get_episode('858')

동행복권 858회 당첨번호 9,13,32,38,39,43+23. 1등 총 9명, 1인당 당첨금액 2,202,347,459원.

In [12]:
df

      no                                                str
858  858  동행복권 858회 당첨번호 9,13,32,38,39,43+23. 1등 총 9명, 1...

In [13]:
import os

In [14]:
if os.path.exists("./data/lotto_858.csv") :
    print(" 존재 ")

 존재

In [15]:
def get_episode_(episode):
    
    req = requests.urlopen('https://www.dhlottery.co.kr/gameResult.do?method=byWin&drwNo=' + episode)
    webpage = req.read()
    soup = bs(webpage, "lxml")
    
    title = soup.find("meta", id="desc")


    print(title["content"] if title else "No meta title given")

    df_episode.loc[episode,'no'] = episode
    df_episode.loc[episode,'str'] = title["content"]

In [16]:
if os.path.exists("./data/lotto_858.csv") :
    print(" 존재 ")
    df_ = pd.read_csv("./data/lotto_858.csv")
else :
    df_episode = pd.DataFrame()
    for i in range(1,859) :
        get_episode_(str(i))
        
    df_episode.to_csv("./data/lotto_858.csv")

 존재

### 파일 저장하기

In [17]:
df_.head()

   Unnamed: 0  no                                                str
0           1   1  동행복권 1회 당첨번호 10,23,29,33,37,40+16. 1등 총 0명, 1인...
1           2   2  동행복권 2회 당첨번호 9,13,21,25,32,42+2. 1등 총 1명, 1인당 ...
2           3   3  동행복권 3회 당첨번호 11,16,19,21,27,31+30. 1등 총 1명, 1인...
3           4   4  동행복권 4회 당첨번호 14,27,30,31,40,42+2. 1등 총 0명, 1인당...
4           5   5  동행복권 5회 당첨번호 16,24,29,40,41,42+3. 1등 총 0명, 1인당...

In [18]:
df_.tail()

     Unnamed: 0   no                                                str
853         854  854  동행복권 854회 당첨번호 20,25,31,32,36,43+3. 1등 총 6명, 1...
854         855  855  동행복권 855회 당첨번호 8,15,17,19,43,44+7. 1등 총 9명, 1인...
855         856  856  동행복권 856회 당첨번호 10,24,40,41,43,44+17. 1등 총 5명, ...
856         857  857  동행복권 857회 당첨번호 6,10,16,28,34,38+43. 1등 총 15명, ...
857         858  858  동행복권 858회 당첨번호 9,13,32,38,39,43+23. 1등 총 9명, 1...

###  인덱스 자료형 변경하기

In [19]:
df_.index = df_.index.astype('int')

### 데이터 프레임 정렬하기

In [20]:
df_ = df_.sort_index()

In [21]:
df_.head()

   Unnamed: 0  no                                                str
0           1   1  동행복권 1회 당첨번호 10,23,29,33,37,40+16. 1등 총 0명, 1인...
1           2   2  동행복권 2회 당첨번호 9,13,21,25,32,42+2. 1등 총 1명, 1인당 ...
2           3   3  동행복권 3회 당첨번호 11,16,19,21,27,31+30. 1등 총 1명, 1인...
3           4   4  동행복권 4회 당첨번호 14,27,30,31,40,42+2. 1등 총 0명, 1인당...
4           5   5  동행복권 5회 당첨번호 16,24,29,40,41,42+3. 1등 총 0명, 1인당...

In [22]:
df_ = df_.drop("Unnamed: 0", axis=1)

In [23]:
df_.head()

   no                                                str
0   1  동행복권 1회 당첨번호 10,23,29,33,37,40+16. 1등 총 0명, 1인...
1   2  동행복권 2회 당첨번호 9,13,21,25,32,42+2. 1등 총 1명, 1인당 ...
2   3  동행복권 3회 당첨번호 11,16,19,21,27,31+30. 1등 총 1명, 1인...
3   4  동행복권 4회 당첨번호 14,27,30,31,40,42+2. 1등 총 0명, 1인당...
4   5  동행복권 5회 당첨번호 16,24,29,40,41,42+3. 1등 총 0명, 1인당...

In [24]:
df_ = df_.set_index('no')

In [25]:
df_str = df_['str'].str.split(' ')

In [26]:
df_str

no
1      [동행복권, 1회, 당첨번호, 10,23,29,33,37,40+16., 1등, 총,...
2      [동행복권, 2회, 당첨번호, 9,13,21,25,32,42+2., 1등, 총, 1...
3      [동행복권, 3회, 당첨번호, 11,16,19,21,27,31+30., 1등, 총,...
4      [동행복권, 4회, 당첨번호, 14,27,30,31,40,42+2., 1등, 총, ...
5      [동행복권, 5회, 당첨번호, 16,24,29,40,41,42+3., 1등, 총, ...
6      [동행복권, 6회, 당첨번호, 14,15,26,27,40,42+34., 1등, 총,...
7      [동행복권, 7회, 당첨번호, 2,9,16,25,26,40+42., 1등, 총, 0...
8      [동행복권, 8회, 당첨번호, 8,19,25,34,37,39+9., 1등, 총, 0...
9      [동행복권, 9회, 당첨번호, 2,4,16,17,36,39+14., 1등, 총, 0...
10     [동행복권, 10회, 당첨번호, 9,25,30,33,41,44+6., 1등, 총, ...
11     [동행복권, 11회, 당첨번호, 1,7,36,37,41,42+14., 1등, 총, ...
12     [동행복권, 12회, 당첨번호, 2,11,21,25,39,45+44., 1등, 총,...
13     [동행복권, 13회, 당첨번호, 22,23,25,37,38,42+26., 1등, 총...
14     [동행복권, 14회, 당첨번호, 2,6,12,31,33,40+15., 1등, 총, ...
15     [동행복권, 15회, 당첨번호, 3,4,16,30,31,37+13., 1등, 총, ...
16     [동행복권, 16회, 당첨번호, 6,7,24,37,38,40+33., 1등, 총, ...
17     [동행복권, 17회, 당첨번호, 3,4,9,17,32,37+1., 1등, 총, 3명...
18     [동행복권, 18회, 당첨번호, 3,12,13,19,32,35+29., 1등, 총,...
19     [동행복권, 19회, 당첨번호, 6,30,38,39,40,43+26., 1등, 총,...
20     [동행복권, 20회, 당첨번호, 10,14,18,20,23,30+41., 1등, 총...
21     [동행복권, 21회, 당첨번호, 6,12,17,18,31,32+21., 1등, 총,...
22     [동행복권, 22회, 당첨번호, 4,5,6,8,17,39+25., 1등, 총, 4명...
23     [동행복권, 23회, 당첨번호, 5,13,17,18,33,42+44., 1등, 총,...
24     [동행복권, 24회, 당첨번호, 7,8,27,29,36,43+6., 1등, 총, 0...
25     [동행복권, 25회, 당첨번호, 2,4,21,26,43,44+16., 1등, 총, ...
26     [동행복권, 26회, 당첨번호, 4,5,7,18,20,25+31., 1등, 총, 5...
27     [동행복권, 27회, 당첨번호, 1,20,26,28,37,43+27., 1등, 총,...
28     [동행복권, 28회, 당첨번호, 9,18,23,25,35,37+1., 1등, 총, ...
29     [동행복권, 29회, 당첨번호, 1,5,13,34,39,40+11., 1등, 총, ...
30     [동행복권, 30회, 당첨번호, 8,17,20,35,36,44+4., 1등, 총, ...
                             ...
829    [동행복권, 829회, 당첨번호, 4,5,31,35,43,45+29., 1등, 총,...
830    [동행복권, 830회, 당첨번호, 5,6,16,18,37,38+17., 1등, 총,...
831    [동행복권, 831회, 당첨번호, 3,10,16,19,31,39+9., 1등, 총,...
832    [동행복권, 832회, 당첨번호, 13,14,19,26,40,43+30., 1등, ...
833    [동행복권, 833회, 당첨번호, 12,18,30,39,41,42+19., 1등, ...
834    [동행복권, 834회, 당첨번호, 6,8,18,35,42,43+3., 1등, 총, ...
835    [동행복권, 835회, 당첨번호, 9,10,13,28,38,45+35., 1등, 총...
836    [동행복권, 836회, 당첨번호, 1,9,11,14,26,28+19., 1등, 총,...
837    [동행복권, 837회, 당첨번호, 2,25,28,30,33,45+6., 1등, 총,...
838    [동행복권, 838회, 당첨번호, 9,14,17,33,36,38+20., 1등, 총...
839    [동행복권, 839회, 당첨번호, 3,9,11,12,13,19+35., 1등, 총,...
840    [동행복권, 840회, 당첨번호, 2,4,11,28,29,43+27., 1등, 총,...
841    [동행복권, 841회, 당첨번호, 5,11,14,30,33,38+24., 1등, 총...
842    [동행복권, 842회, 당첨번호, 14,26,32,36,39,42+38., 1등, ...
843    [동행복권, 843회, 당첨번호, 19,21,30,33,34,42+4., 1등, 총...
844    [동행복권, 844회, 당첨번호, 7,8,13,15,33,45+18., 1등, 총,...
845    [동행복권, 845회, 당첨번호, 1,16,29,33,40,45+6., 1등, 총,...
846    [동행복권, 846회, 당첨번호, 5,18,30,41,43,45+13., 1등, 총...
847    [동행복권, 847회, 당첨번호, 12,16,26,28,30,42+22., 1등, ...
848    [동행복권, 848회, 당첨번호, 1,2,16,22,38,39+34., 1등, 총,...
849    [동행복권, 849회, 당첨번호, 5,13,17,29,34,39+3., 1등, 총,...
850    [동행복권, 850회, 당첨번호, 16,20,24,28,36,39+5., 1등, 총...
851    [동행복권, 851회, 당첨번호, 14,18,22,26,31,44+40., 1등, ...
852    [동행복권, 852회, 당첨번호, 11,17,28,30,33,35+9., 1등, 총...
853    [동행복권, 853회, 당첨번호, 2,8,23,26,27,44+13., 1등, 총,...
854    [동행복권, 854회, 당첨번호, 20,25,31,32,36,43+3., 1등, 총...
855    [동행복권, 855회, 당첨번호, 8,15,17,19,43,44+7., 1등, 총,...
856    [동행복권, 856회, 당첨번호, 10,24,40,41,43,44+17., 1등, ...
857    [동행복권, 857회, 당첨번호, 6,10,16,28,34,38+43., 1등, 총...
858    [동행복권, 858회, 당첨번호, 9,13,32,38,39,43+23., 1등, 총...
Name: str, Length: 858, dtype: object

In [27]:
ll = []

In [28]:
for i in df_str :
    ll.append(i[3])

In [29]:
s = pd.Series(ll)

In [30]:
ss = s.str.replace("+",",")

In [31]:
ss = ss.str.replace("."," ")

In [32]:
ss.head()

0    10,23,29,33,37,40,16
1      9,13,21,25,32,42,2
2    11,16,19,21,27,31,30
3     14,27,30,31,40,42,2
4     16,24,29,40,41,42,3
dtype: object

In [33]:
ss = ss.str.split(",")

In [34]:
ss.head()

0    [10, 23, 29, 33, 37, 40, 16 ]
1      [9, 13, 21, 25, 32, 42, 2 ]
2    [11, 16, 19, 21, 27, 31, 30 ]
3     [14, 27, 30, 31, 40, 42, 2 ]
4     [16, 24, 29, 40, 41, 42, 3 ]
dtype: object

## 시리즈 값이 리스트 구조일 경우 데이터프레임으로 변환

In [35]:
df_ss = pd.DataFrame(ss)

In [36]:
df_ss.head()

                               0
0  [10, 23, 29, 33, 37, 40, 16 ]
1    [9, 13, 21, 25, 32, 42, 2 ]
2  [11, 16, 19, 21, 27, 31, 30 ]
3   [14, 27, 30, 31, 40, 42, 2 ]
4   [16, 24, 29, 40, 41, 42, 3 ]

###  시리즈 내의 apply 함수dptj Series 객체 생성하면 데이터 프레임으로 변경됨

In [80]:
df_ss[0].head()

0    [10, 23, 29, 33, 37, 40, 16 ]
1      [9, 13, 21, 25, 32, 42, 2 ]
2    [11, 16, 19, 21, 27, 31, 30 ]
3     [14, 27, 30, 31, 40, 42, 2 ]
4     [16, 24, 29, 40, 41, 42, 3 ]
Name: 0, dtype: object

In [37]:
df_lot = df_ss[0].apply(pd.Series)

In [38]:
df_lot.index = df_.index

In [39]:
df_lot.head()

     0   1   2   3   4   5    6
no
1   10  23  29  33  37  40  16
2    9  13  21  25  32  42   2
3   11  16  19  21  27  31  30
4   14  27  30  31  40  42   2
5   16  24  29  40  41  42   3

In [40]:
df_lot.columns = ['당첨'+ str(i) for i in range(1,8)]

In [41]:
df_lot.head()

   당첨1 당첨2 당첨3 당첨4 당첨5 당첨6  당첨7
no
1   10  23  29  33  37  40  16
2    9  13  21  25  32  42   2
3   11  16  19  21  27  31  30
4   14  27  30  31  40  42   2
5   16  24  29  40  41  42   3

### 당첨된 내부 값들 확인

In [42]:
s1 = df_lot['당첨1'].value_counts()

In [81]:
s1.nlargest()

1    122
2     93
3     81
4     78
5     75
Name: 당첨1, dtype: int64

In [83]:
s2 = df_lot['당첨2'].value_counts()

In [82]:
s2.nlargest()

10    59
8     57
12    52
7     52
11    49
Name: 당첨2, dtype: int64

In [46]:
s3 = df_lot['당첨3'].value_counts()

In [84]:
s3.nlargest()

13    49
19    48
20    48
18    48
15    40
Name: 당첨3, dtype: int64

In [48]:
s4 = df_lot['당첨4'].value_counts()

In [86]:
s4.nlargest()

33    44
26    44
31    44
24    42
27    42
Name: 당첨4, dtype: int64

In [50]:
s5 = df_lot['당첨5'].value_counts()

In [87]:
s5.nlargest()

34    58
39    52
38    51
37    50
33    45
Name: 당첨5, dtype: int64

In [52]:
s6 = df_lot['당첨6'].value_counts()

In [89]:
s6.nlargest()

45    121
44    105
43     99
40     71
42     70
Name: 당첨6, dtype: int64

In [54]:
s1.index

Index(['1', '2', '3', '4', '5', '6', '7', '8', '10', '11', '12', '9', '14',
       '13', '16', '17', '15', '19', '18', '20', '21', '22', '26', '24', '23',
       '35', '29', '25'],
      dtype='object')

In [55]:
d_s1 = s1.to_frame().reset_index()

In [56]:
ds_s1 = d_s1.rename(columns={'당첨1':"당첨"})

In [57]:
ds_s1

   index   당첨
0      1  122
1      2   93
2      3   81
3      4   78
4      5   75
5      6   66
6      7   52
7      8   42
8     10   35
9     11   32
10    12   30
11     9   28
12    14   25
13    13   22
14    16   18
15    17   15
16    15   11
17    19    9
18    18    5
19    20    4
20    21    3
21    22    3
22    26    2
23    24    2
24    23    2
25    35    1
26    29    1
27    25    1

In [58]:
d_s2 = s2.to_frame().reset_index()

In [59]:
ds_s2 = d_s2.rename(columns={'당첨2':"당첨"})

In [60]:
ds_s2

   index  당첨
0     10  59
1      8  57
2     12  52
3      7  52
4     11  49
5      9  43
6     15  42
7     14  40
8     13  40
9      5  38
10    17  36
11    18  36
12     4  33
13    16  30
14     6  28
15     3  27
16    20  27
17    19  23
18    21  21
19     2  19
20    22  18
21    23  17
22    25  15
23    27  13
24    24  12
25    26   7
26    30   6
27    29   5
28    28   4
29    32   2
30    31   2
31    33   2
32    36   1
33    37   1
34    34   1

In [61]:
d_s3 = s3.to_frame().reset_index()

In [62]:
ds_s3 = d_s3.rename(columns={'당첨3':"당첨"})

In [63]:
ds_s3

   index  당첨
0     13  49
1     19  48
2     20  48
3     18  48
4     15  40
5     17  39
6     14  39
7     21  36
8     24  36
9     16  34
10    22  33
11    27  32
12    26  31
13    23  28
14    25  28
15    28  27
16    11  27
17    10  26
18    12  26
19    30  23
20    29  22
21    31  19
22     8  16
23    33  14
24     9  13
25     6  11
26     7  10
27    34   9
28    35   9
29    32   8
30    37   7
31    36   6
32     5   5
33     4   4
34     3   3
35    38   2
36    40   1
37    39   1

In [64]:
d_s4 = s4.to_frame().reset_index()

In [65]:
ds_s4 = d_s4.rename(columns={'당첨4':"당첨"})

In [66]:
d_s5 = s5.to_frame().reset_index()

In [67]:
ds_s5 = d_s5.rename(columns={'당첨5':"당첨"})

In [68]:
d_s6 = s6.to_frame().reset_index()

In [69]:
ds_s6 = d_s6.rename(columns={'당첨6':"당첨"})

In [70]:
df_s_tot = pd.concat([ds_s1, ds_s2, ds_s3, ds_s4, ds_s5, ds_s6], ignore_index=True, sort=True)

In [71]:
df_s_tot.head()

  index   당첨
0     1  122
1     2   93
2     3   81
3     4   78
4     5   75

In [72]:
df_s_tot.tail()

    index  당첨
196    21   3
197    23   3
198    22   3
199    19   3
200    24   2

In [73]:
df_gr = df_s_tot.groupby('index')

In [74]:
df_sum = df_gr.sum()

In [75]:
df_sum.sort_values(by='당첨')

        당첨
index
9       89
22      91
32      97
23      99
41     104
35     105
30     105
28     105
29     106
6      108
42     108
16     110
25     111
3      111
2      112
38     112
21     112
44     113
7      114
36     115
24     115
4      115
26     116
15     116
39     117
37     117
31     118
8      118
19     118
5      119
11     120
45     121
18     121
33     121
10     122
1      122
13     122
14     122
17     123
12     123
20     124
43     125
40     126
27     126
34     134

In [76]:
ssss = df_sum['당첨']

In [77]:
ssss

index
1     122
10    122
11    120
12    123
13    122
14    122
15    116
16    110
17    123
18    121
19    118
2     112
20    124
21    112
22     91
23     99
24    115
25    111
26    116
27    126
28    105
29    106
3     111
30    105
31    118
32     97
33    121
34    134
35    105
36    115
37    117
38    112
39    117
4     115
40    126
41    104
42    108
43    125
44    113
45    121
5     119
6     108
7     114
8     118
9      89
Name: 당첨, dtype: int64

In [78]:
ssss.value_counts()

122    4
105    3
121    3
112    3
115    3
118    3
126    2
116    2
111    2
117    2
123    2
108    2
106    1
97     1
99     1
104    1
91     1
89     1
113    1
110    1
125    1
114    1
119    1
120    1
124    1
134    1
Name: 당첨, dtype: int64