# 1. 모듈 알아보기

## 커맨드 라인 실행

In [5]:
%%writefile args.py
import sys
for i,e in enumerate(sys.argv) :
    print(i, e )

Overwriting args.py

In [6]:
!python args.py hello workd

0 args.py
1 hello
2 workd

In [7]:
%run args.py hello workd

0 args.py
1 hello
2 workd

##  내장 모듈을 가져온다.

In [1]:
import random

In [2]:
type(random)

### 모듈 내의 필요한 것만 가져온다

In [3]:
from random import choice

In [4]:
type(choice)

In [5]:
choice(['서울', '성남','대구'])

## 새로운 모듈을 만든다.

In [6]:
%%writefile fast.py 

from random import choice

def pick() :
    return choice(['서울', '성남','대구'])

### 이 모듈을 가져와서 사용하다.

In [7]:
import fast

In [8]:
fast.pick()

## 모듈을 불러올때 약어를 사용한다.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("../titanic/test.csv")

In [11]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
type(df)

pandas.core.frame.DataFrame

# 2. 파일 가져오기 

- 파일이 있는 위치와 파일을 읽거나 쓰는 모드를 open 함수에 인자로 전달해서 처리

## 현재 위치를 확인

In [8]:
import os

In [11]:
os.chdir("../")

In [12]:
%pwd

'/Users/dahlmoon/Documents/GitHub/python_block'

In [14]:
os.chdir("./파이썬 강의")

In [15]:
os.getcwd()

'/Users/dahlmoon/Documents/GitHub/python_block/파이썬 강의'

##  파일 생성하고 확인하기

In [13]:
%%writefile test.txt
테스트용 1
테스트용 2

Overwriting test.txt

In [16]:
os.path.isfile("test.txt")

True

In [20]:
filename ="test.txt"
mode = 'rt'

In [21]:
try :
    f = open(filename,mode,encoding="utf-8" )
except FileNotFoundError :
    print("해당하는 파일이 없습니다 ")

In [22]:
f.read()

'테스트용 1\n테스트용 2\n'

In [23]:
f.close()

## 텍스트로 읽기

In [14]:
f = open("test.txt",'rt', encoding="utf-8")

In [15]:
for i in f :
    print(i)

테스트용 1

테스트용 2

In [16]:
for i in f :
    print(i, end="")

In [17]:
f = open("test.txt",'rt', encoding="utf-8")

### 파일을 라인별로 읽기 : 순환문 사용

In [18]:
for i in f :
    print(i, end="")

테스트용 1
테스트용 2

In [19]:
## 바이트로 파일 일기

In [20]:
bf = open("test.txt",'rb')

In [21]:
for i in bf :
    print(i)

b'\xed\x85\x8c\xec\x8a\xa4\xed\x8a\xb8\xec\x9a\xa9 1\r\n'
b'\xed\x85\x8c\xec\x8a\xa4\xed\x8a\xb8\xec\x9a\xa9 2\r\n'

## 컨텍스트 환경에서 파일 열고 자동으로 닫기

In [26]:
with open("test.txt",'rt', encoding="utf-8") as ff :
    for i in ff :
        print(i,end="")

테스트용 1
테스트용 2

## 시리얼라이즈 파일 사용하기
- 파이썬에 만든 객체나 클래스들을 그대로 저장하고 다시 읽어와서 처리하는 파일 모듈

In [27]:
import pickle

In [30]:
class Person :
    pass

In [31]:
with open('goo.pickle', 'wb') as f :
    pickle.dump([1,2,3],f)
    pickle.dump('hello', f)
    pickle.dump(Person, f)

In [35]:
with open('goo.pickle', 'rb') as f :
    a = pickle.load(f)
    b = pickle.load(f)
    C = pickle.load(f)
    print(a)
    print(b)
    print(C, C())

[1, 2, 3]
hello
<class '__main__.Person'> <__main__.Person object at 0x7fafd7b61e50>