# 1. 모듈 알아보기

##  내장 모듈을 가져온다.

In [1]:
import random

In [2]:
type(random)

### 모듈 내의 필요한 것만 가져온다

In [3]:
from random import choice

In [4]:
type(choice)

In [5]:
choice(['서울', '성남','대구'])

## 새로운 모듈을 만든다.

In [6]:
%%writefile fast.py 

from random import choice

def pick() :
    return choice(['서울', '성남','대구'])

### 이 모듈을 가져와서 사용하다.

In [7]:
import fast

In [8]:
fast.pick()

## 모듈을 불러올때 약어를 사용한다.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("../titanic/test.csv")

In [11]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
type(df)

pandas.core.frame.DataFrame

# 2. 파일 가져오기

In [13]:
%%writefile test.txt
테스트용 1
테스트용 2

Overwriting test.txt

## 텍스트로 읽기

In [14]:
f = open("test.txt",'rt', encoding="utf-8")

In [15]:
for i in f :
    print(i)

테스트용 1

테스트용 2

In [16]:
for i in f :
    print(i, end="")

In [17]:
f = open("test.txt",'rt', encoding="utf-8")

In [18]:
for i in f :
    print(i, end="")

테스트용 1
테스트용 2

In [19]:
## 바이트로 파일 일기

In [20]:
bf = open("test.txt",'rb')

In [21]:
for i in bf :
    print(i)

b'\xed\x85\x8c\xec\x8a\xa4\xed\x8a\xb8\xec\x9a\xa9 1\r\n'
b'\xed\x85\x8c\xec\x8a\xa4\xed\x8a\xb8\xec\x9a\xa9 2\r\n'