In [1]:
import sys

In [2]:
sys.version_info

sys.version_info(major=3, minor=7, micro=10, releaselevel='final', serial=0)

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS")
else :
    print(" Windows ")

 Mac OS

# 1. 판다스 구조 알아보기

        pandas는  금융 등의 데이터를 쉽게 분석하기 위해 만든 모듈입니다. 
        데이터베이스의 테이블 구조와 유사한 체계를 유지합니다.
        
        1차원인 시리즈와 2차원인 데이터프레임을 제공합니다.
        1차원은 행단위 처리만 가능하지만 2차원은 열을 기본으로 하고 추가적으로 행단위도 처리할 수 있습니다.

## 1-1 판다스 모듈을 먼저 import 

     pandas 모듈은 관행적은 pd라는 이름을 별칭으로 사용합니다.

In [4]:
import pandas as pd

### 모듈 내의 이름공간 

      클래스, 함수 등을 관리...

###  모듈 내의 함수 가져오기

In [5]:
ps_str = dir(pd)

#### 판다스 내에 함수만 출력해보기

In [6]:
import types

In [7]:
for i in ps_str :
    if type(pd.__dict__[i]) == types.FunctionType :
        print(i)

__getattr__
array
bdate_range
concat
crosstab
cut
date_range
eval
factorize
get_dummies
infer_freq
interval_range
isna
isnull
json_normalize
lreshape
melt
merge
merge_asof
merge_ordered
notna
notnull
period_range
pivot
pivot_table
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_orc
read_parquet
read_pickle
read_sas
read_spss
read_sql
read_sql_query
read_sql_table
read_stata
read_table
set_eng_float_format
show_versions
test
timedelta_range
to_datetime
to_numeric
to_pickle
to_timedelta
unique
value_counts
wide_to_long

###  모듈 내의  클래스 가져오기

      모든 클래스는 type 메타 클래스로 만들어진 것

In [8]:
for i in ps_str :
    if isinstance(type(pd.__dict__[i]), type) :
        print(i)

BooleanDtype
Categorical
CategoricalDtype
CategoricalIndex
DataFrame
DateOffset
DatetimeIndex
DatetimeTZDtype
ExcelFile
ExcelWriter
Flags
Float32Dtype
Float64Dtype
Float64Index
Grouper
HDFStore
Index
IndexSlice
Int16Dtype
Int32Dtype
Int64Dtype
Int64Index
Int8Dtype
Interval
IntervalDtype
IntervalIndex
MultiIndex
NA
NaT
NamedAgg
Period
PeriodDtype
PeriodIndex
RangeIndex
Series
SparseDtype
StringDtype
Timedelta
TimedeltaIndex
Timestamp
UInt16Dtype
UInt32Dtype
UInt64Dtype
UInt64Index
UInt8Dtype
__builtins__
__cached__
__doc__
__docformat__
__file__
__getattr__
__git_version__
__loader__
__name__
__package__
__path__
__spec__
__version__
_config
_hashtable
_is_numpy_dev
_lib
_libs
_np_version_under1p17
_np_version_under1p18
_testing
_tslib
_typing
_version
api
array
arrays
bdate_range
compat
concat
core
crosstab
cut
date_range
describe_option
errors
eval
factorize
get_dummies
get_option
infer_freq
interval_range
io
isna
isnull
json_normalize
lreshape
melt
merge
merge_asof
merge_ordered
notna
notnull
offsets
option_context
options
pandas
period_range
pivot
pivot_table
plotting
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_orc
read_parquet
read_pickle
read_sas
read_spss
read_sql
read_sql_query
read_sql_table
read_stata
read_table
reset_option
set_eng_float_format
set_option
show_versions
test
testing
timedelta_range
to_datetime
to_numeric
to_pickle
to_timedelta
tseries
unique
util
value_counts
wide_to_long

### 판다스가 제공하는 기본 클래스

#### 1 차원 배열

In [9]:
pd.Series

pandas.core.series.Series

#### 2차원 배열

In [10]:
pd.DataFrame

pandas.core.frame.DataFrame

## 1-2 데이터 가져오기

         테이블 형태로 구성된 데이터를 가져와서 판다스의 데이터프레임으로 처리해 봅니다.

#### 시본은 그래프를 시각화하는 모듈입니다.

In [11]:
import seaborn as sns

#### 시본에 있는 데이터를 로딩하면 데이터 프레임 객체로 만들어집니다.

In [12]:
tips = sns.load_dataset("tips")

#### 읽어 온 파일이 자료형을 확인합니다

In [13]:
type(tips)

pandas.core.frame.DataFrame

## 1-3 데이터프레임 내의 정보 확인하기

         시본 데이터에서 읽오온 tips는 데이터프레임으로 처리됩니다. 
         
         데이터프레임이 기본 데이터를 확인해 봅니다.

### 데이터 프레임 데이터의 정보를 확인하기 위해 head 메소드를 실행합니다.

      인자로 정수를 주면 주는 행까지 출력됩니다. 아무것도 없을 경우는 5개의 행의 출력됩니다.

In [14]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### head 메소드에 인자로 정수를 전달하면 출력되는 행의 개수가 증가합니다

In [15]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

### 마지막 부분을 확인하려면 tail 메소드를 이용합니다.

In [16]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### 데이터 프레임도 배열이므로 차원과 모양에 대한 메타 정보를 가집니다.

In [17]:
tips.ndim

2

In [18]:
tips.shape

(244, 7)

## 1-4 인덱스 정보 알아보기 

     인덱스 정보는 내부의 데이터를 검색할 사용하는 정보를 이름으로 정의.
     
     이름가지고 검색하므로 보다 빨리 조회가 가능.

### 1-4-1 인덱스 클래스

         시리즈는 1차원이므로 행에 대한 인덱스 정보가 있습니다.
         
         데이터프레임은 2차원이므로 행과 열에 대한 인덱스 정보가 있습니다.

####  대표 인덱스 클래스

In [19]:
pd.Index

pandas.core.indexes.base.Index

#### 이 클래스를 상속을 받아서 처리를 하는 클래스 확인

In [20]:
pd.Index.__subclasses__()

[pandas.core.indexes.extension.ExtensionIndex,
 pandas.core.indexes.numeric.NumericIndex,
 pandas.core.indexes.multi.MultiIndex]

#### 숫자관련 인덱스 클래스

In [21]:
pd.RangeIndex

pandas.core.indexes.range.RangeIndex

In [22]:
pd.Int64Index,  pd.Float64Index

(pandas.core.indexes.numeric.Int64Index,
 pandas.core.indexes.numeric.Float64Index)

#### 범주형 인덱스 클래스

In [23]:
pd.CategoricalIndex

pandas.core.indexes.category.CategoricalIndex

#### 이산간격 인덱스

In [24]:
pd.IntervalIndex

pandas.core.indexes.interval.IntervalIndex

In [25]:
df_interval = pd.DataFrame({'A' : [1,2,3,4]}, 
                            index = pd.IntervalIndex.from_breaks([0,0.5, 1.0, 1.5, 2.0]))

In [26]:
df_interval

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

#### 시간관련 인덱스 클래스

In [27]:
pd.DatetimeIndex,  pd.PeriodIndex

(pandas.core.indexes.datetimes.DatetimeIndex,
 pandas.core.indexes.period.PeriodIndex)

### 1-4-2 객체 내부의 행과 열 인덱스 속성

####  행의 인덱스 정보 확인하기

         전체가 숫자가 아닌 범위의 값을 가진 인덱스로 구성

In [28]:
tips.index

RangeIndex(start=0, stop=244, step=1)

#### 열의 인덱스 정보 확인하기 

         문자열로 각 칼럼에 인덱스 정보가 부여되어 있음

In [29]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### 1-4-3 열에 저장된 값들에 대한 자료형 알아보기

#### info 메소드로 조회하면 각 칼럼의 이름과 각 칼럼의 자료형을 알 수 있습니다. 

      그리고 내부 메모리 사용 용량을 알 수 있습니다.ㅡ

In [30]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

#### 속성으로 각 열의 자료형 알아보기

In [31]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

#### 메모리 사용량 상세정보 확인

In [32]:
mem = tips.memory_usage()

In [33]:
mem

Index          128
total_bill    1952
tip           1952
sex            368
smoker         368
day            448
time           368
size          1952
dtype: int64

In [34]:
mem.sum()

7536

#### 특정 칼럼이 자료형을 변경해서 메모리 사이즈 줄이기

In [35]:
import numpy as np

In [36]:
tips['tip'] = tips['tip'].astype(np.float32)

In [37]:
tips.tip.dtype

dtype('float32')

In [38]:
tips.memory_usage()

Index          128
total_bill    1952
tip            976
sex            368
smoker         368
day            448
time           368
size          1952
dtype: int64

# 2. 판다스 행과 열 접근 알아보기

## 2-1 모듈 설치하기 

    주식 정보를 가져오기 위한 모듈 설치 
    pip install -U finance-datareader

In [39]:
try : 
    
    import FinanceDataReader as fdr
    print(" fdr __version__ ", fdr.__version__)

except Exception as e :
    print(e)
    print(" pip install -U finance-datareader")

 fdr __version__  0.9.31

In [40]:
fdr

## 2-2 데이터 프레임 검색하기

### 한국 증권거래소에 등록된 기업 정보 가져오기

        StockListing 함수를 통해 상장 주식 등록 가져오기

In [41]:
df_krx = fdr.StockListing('KRX')

### 가져온 정보를 알아보기

In [42]:
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

### 각 열에 정보 파악하기 

   판다스의 자료형이 object 일경우는 파이썬 문자열 자료형으로 데이터가 만들어진 것입니다.

In [43]:
df_krx.dtypes

Symbol                    object
Market                    object
Name                      object
Sector                    object
Industry                  object
ListingDate       datetime64[ns]
SettleMonth               object
Representative            object
HomePage                  object
Region                    object
dtype: object

### 기본 열의 이름으로 검색 : 결과는 시리즈

In [44]:
t_s = df_krx['Name']

### 데이터프레임 내의 하나의 열은 시리즈 객체로 구성됩니다.

In [45]:
type(t_s)

pandas.core.series.Series

### 시리즈의 정보도 head 메소드를 통해 일부만 볼 수 있습니다.

In [46]:
t_s.head()

0        3S
1    AJ네트웍스
2     AK홀딩스
3    APS홀딩스
4     AP시스템
Name: Name, dtype: object

### 팬시 검색을 이용하면 동일한 자료형으로 처리됩니다

In [47]:
t_d = df_krx[['Name']]

In [48]:
type(t_d)

pandas.core.frame.DataFrame

In [49]:
t_d.head()

     Name
0      3S
1  AJ네트웍스
2   AK홀딩스
3  APS홀딩스
4   AP시스템

### 열에 대한 인덱스 정보를 확인합니다

In [50]:
df_krx.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

### 팬시 검색으로 두 개의 열을 가져옵니다.

      팬시 검색도 별도의 사본을 만들지만 갱신할 때 경고창이 나오므로 명확히 copy 메소드를 사용하는 것이 좋습니다.

In [51]:
t_ts = df_krx[['Symbol','Name']].copy()

In [52]:
t_ts.head()

   Symbol    Name
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620  APS홀딩스
4  265520   AP시스템

### 2-3  인덱서 알아보기

          인덱서는 행을 기반으로 정보를 검색합니다.  첫번째 인자는 행에 대한 정보이고 두번째 인자는 칼럼에 대한 인자입니다.

          loc : 인덱스의 이름으로 검색
          iloc : 정수 인덱스 정보로 검색

#### 명시적인 행과 열의 이름을 가지고 접근

In [53]:
t_ts.loc

####  행은 정수, 열은 배열이지만 행을 중심으로 가져오므로 시리즈로 결과처리

In [54]:
t_ts.loc[1, ["Symbol"]]

Symbol    095570
Name: 1, dtype: object

#### 암묵적인 정수 인덱스정보를 가지고 행과 열에 접근

In [55]:
t_ts.iloc

In [56]:
t_ts.iloc[1, [0]]

Symbol    095570
Name: 1, dtype: object

#### 행과 열에 정수로 처리하면 실제 하나의 값만 처리

In [57]:
t_ts.iloc[1, 0]

'095570'

### 특정 값만 검색

          at : 이름으로 검색 
          iat : 인덱스 정보(정수)로 검색

In [58]:
t_ts.at

In [59]:
t_ts.at[1, "Symbol"]

'095570'

In [60]:
t_ts.iat

In [61]:
t_ts.iat[1, 0]

'095570'

## 2-4  검색된 결과 확인하기

     갱신을 해도 원본에는 변화가 없습니다

In [62]:
t_ts_ = df_krx[['Symbol','Name']].copy()

#### 특정한 행과 열을 지정해서 하나의 값을 변경

In [63]:
t_ts_.loc[0,'Symbol'] = 0

In [64]:
t_ts_.head()

   Symbol    Name
0       0      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620  APS홀딩스
4  265520   AP시스템

#### 원본은 변경되지 않습니다.

In [65]:
 df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

### 팬시 검색은 데이터에 대한 메모리 공유를 하지 않습니다

In [66]:
np.may_share_memory(t_ts_, df_krx)

False

## 2-5 인덱서 처리 기능 추가 알아보기

### 인덱스 정보인 이름으로 명시적으로 처리할 경우 loc 인덱서 사용

In [67]:
df_krx.loc[0]

Symbol                          060310
Market                          KOSDAQ
Name                                3S
Sector                   특수 목적용 기계 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate        2002-04-23 00:00:00
SettleMonth                        03월
Representative      박종익, 김세완 (각자 대표이사)
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 0, dtype: object

### 하나의 행으로 검색하면 시리즈 객체가 됩니다.

In [68]:
se = df_krx.loc[0]

In [69]:
type(se)

pandas.core.series.Series

### 인덱스 검색일 경우는 동일한 메모리 정보를 유지합니다

In [70]:
np.may_share_memory(se, df_krx)

False

###  숫자 인덱스 대신 열을 이용해서 인덱스 재지정하기

In [71]:
df_krx_ri = df_krx.set_index('Symbol')

In [72]:
df_krx_ri.head()

,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
Symbol,,,,,,,,,
060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

### 명시적 명칭과 암묵적 위치 정보로 처리하기

In [73]:
df_krx_ri.loc['001250']

Market                                                        KOSPI
Name                                                          GS글로벌
Sector                                                    상품 종합 도매업
Industry          수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
ListingDate                                     1976-06-26 00:00:00
SettleMonth                                                     12월
Representative                                                  김태형
HomePage                                     http://www.gsgcorp.com
Region                                                        서울특별시
Name: 001250, dtype: object

### 판다스는 행과 열이 배열을 처리해서 암묵적으로 정수 인덱스를 가지고있습니다.

In [74]:
df_krx_ri.iloc[0]

Market                          KOSDAQ
Name                                3S
Sector                   특수 목적용 기계 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate        2002-04-23 00:00:00
SettleMonth                        03월
Representative      박종익, 김세완 (각자 대표이사)
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 060310, dtype: object

### 슬라이스를 이용해서 명시적 인덱스와 암묵적 인덱스 처리하기

In [75]:
df_krx_ri.loc[:'010060', ['Name']]

            Name
Symbol
060310        3S
095570    AJ네트웍스
006840     AK홀딩스
054620    APS홀딩스
265520     AP시스템
...          ...
030190  NICE평가정보
008260      NI스틸
004250       NPC
004255      NPC우
010060       OCI

[1564 rows x 1 columns]

In [76]:
df_krx_ri.iloc[:5]

,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
Symbol,,,,,,,,,
060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

### 슬라이스와 팬시 인덱스를 같이 사용하기

In [77]:
df_krx_ri.iloc[:5, 0]

Symbol
060310    KOSDAQ
095570     KOSPI
006840     KOSPI
054620    KOSDAQ
265520    KOSDAQ
Name: Market, dtype: object

In [78]:
df_krx_ri.iloc[:5, [0]]

        Market
Symbol
060310  KOSDAQ
095570   KOSPI
006840   KOSPI
054620  KOSDAQ
265520  KOSDAQ

## 2-6 코스피와 코스닥 상장 기업정보 분리해서 가져오기

### 코스피 상장 기업만 가져오기

In [79]:
df_kospi = fdr.StockListing('KOSPI')

In [80]:
df_kospi.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [81]:
df_kospi.shape

(5148, 10)

### 코스닥 상장 기업만 가져오기

In [82]:
df_kosdaq = fdr.StockListing('KOSDAQ')

In [83]:
df_kosdaq.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
54,035760,KOSDAQ,CJ ENM,텔레비전 방송업,"의류, 생활주방, 가전제품, 보석, 기타",1999-11-23,12월,"Minho Hou, Ho Sung Kang",http://www.cjmall.com,서울특별시

In [84]:
df_kosdaq.shape

(1526, 10)