In [1]:
import sys

In [2]:
sys.version_info

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS")
else :
    print(" Windows ")

 Windows

# 1. 판다스 구조 알아보기

## 1-1 판다스 모듈을 먼저 import 

     pandas 모듈은 관행적은 pd라는 이름을 별칭으로 사용합니다.

In [4]:
import pandas as pd

### 모듈 내의 이름공간 

      클래스, 함수 등을 관리...

###  모듈 내의 함수 가져오기

In [5]:
ps_str = dir(pd)

In [6]:
import types

In [7]:
for i in ps_str :
    if type(pd.__dict__[i]) == types.FunctionType :
        print(i)

array
bdate_range
concat
crosstab
cut
date_range
eval
factorize
get_dummies
infer_freq
interval_range
isna
isnull
lreshape
melt
merge
merge_asof
merge_ordered
notna
notnull
period_range
pivot
pivot_table
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_msgpack
read_parquet
read_pickle
read_sas
read_sql
read_sql_query
read_sql_table
read_stata
read_table
set_eng_float_format
show_versions
test
timedelta_range
to_datetime
to_msgpack
to_numeric
to_pickle
to_timedelta
unique
value_counts
wide_to_long

###  모듈 내의  클래스 가져오기

      모든 클래스는 type 메타 클래스로 만들어진 것

In [8]:
for i in ps_str :
    if isinstance(type(pd.__dict__[i]), type) :
        print(i)

Categorical
CategoricalDtype
CategoricalIndex
DataFrame
DateOffset
DatetimeIndex
DatetimeTZDtype
ExcelFile
ExcelWriter
Float64Index
Grouper
HDFStore
Index
IndexSlice
Int16Dtype
Int32Dtype
Int64Dtype
Int64Index
Int8Dtype
Interval
IntervalDtype
IntervalIndex
MultiIndex
NaT
Panel
Period
PeriodDtype
PeriodIndex
RangeIndex
Series
SparseArray
SparseDataFrame
SparseDtype
SparseSeries
TimeGrouper
Timedelta
TimedeltaIndex
Timestamp
UInt16Dtype
UInt32Dtype
UInt64Dtype
UInt64Index
UInt8Dtype
__builtins__
__cached__
__doc__
__docformat__
__file__
__git_version__
__loader__
__name__
__package__
__path__
__spec__
__version__
_hashtable
_lib
_libs
_np_version_under1p13
_np_version_under1p14
_np_version_under1p15
_np_version_under1p16
_np_version_under1p17
_tslib
_version
api
array
arrays
bdate_range
compat
concat
core
crosstab
cut
date_range
datetime
describe_option
errors
eval
factorize
get_dummies
get_option
infer_freq
interval_range
io
isna
isnull
lreshape
melt
merge
merge_asof
merge_ordered
notna
notnull
np
offsets
option_context
options
pandas
period_range
pivot
pivot_table
plotting
qcut
read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_msgpack
read_parquet
read_pickle
read_sas
read_sql
read_sql_query
read_sql_table
read_stata
read_table
reset_option
set_eng_float_format
set_option
show_versions
test
testing
timedelta_range
to_datetime
to_msgpack
to_numeric
to_pickle
to_timedelta
tseries
unique
util
value_counts
wide_to_long

#### 1 차원 배열

In [9]:
pd.Series

pandas.core.series.Series

#### 2차원 배열

In [10]:
pd.DataFrame

pandas.core.frame.DataFrame

#### 3 차원 배열

In [11]:
pd.Panel

pandas.core.panel.Panel

## 1-2 데이터 가져오기

### 시본은 그래프를 시각화하는 모듈입니다.

In [12]:
import seaborn as sns

### 시본에 있는 데이터를 로딩하면 데이터 프레임 객체로 만들어집니다.

In [13]:
tips = sns.load_dataset("tips")

## 1-3 데이터프레임 내의 정보 확인하기

### 데이터 프레임 데이터의 정보를 확인하기 위해 head 메소드를 실행합니다.

      인자로 정수를 주면 주는 행까지 출력됩니다. 아무것도 없을 경우는 5개의 행의 출력됩니다.

In [14]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

### 마지막 부분을 확인하려면 tail 메소드를 이용합니다.

In [16]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### 데이터 프레임도 배열이므로 차원과 모양에 대한 메타 정보를 가집니다.

In [17]:
tips.ndim

2

In [18]:
tips.shape

(244, 7)

## 1-4 인덱스 정보 알아보기 

     인덱스 정보는 내부의 데이터를 검색할 사용하는 정보를 이름으로 정의.
     
     이름가지고 검색하므로 보다 빨리 조회가 가능.

### 1-4-1 인덱스 클래스

####  대표 인덱스 클래스

In [19]:
pd.Index

pandas.core.indexes.base.Index

In [63]:
pd.Index.__subclasses__()

[pandas.core.indexes.category.CategoricalIndex,
 pandas.core.indexes.numeric.NumericIndex,
 pandas.core.indexes.multi.MultiIndex,
 pandas.core.indexes.interval.IntervalIndex,
 pandas.core.indexes.interval.IntervalIndex]

#### 숫자관련 인덱스 클래스

In [60]:
pd.RangeIndex

pandas.core.indexes.range.RangeIndex

In [66]:
pd.Int64Index,  pd.Float64Index

(pandas.core.indexes.numeric.Int64Index,
 pandas.core.indexes.numeric.Float64Index)

#### 범주형 인덱스 클래스

In [64]:
pd.CategoricalIndex

pandas.core.indexes.category.CategoricalIndex

#### 이산간격 인덱스

In [69]:
pd.IntervalIndex

pandas.core.indexes.interval.IntervalIndex

In [71]:
df_interval = pd.DataFrame({'A' : [1,2,3,4]}, 
                            index = pd.IntervalIndex.from_breaks([0,0.5, 1.0, 1.5, 2.0]))

In [72]:
df_interval

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

#### 시간관련 인덱스 클래스

In [68]:
pd.DatetimeIndex,  pd.PeriodIndex

(pandas.core.indexes.datetimes.DatetimeIndex,
 pandas.core.indexes.period.PeriodIndex)

### 1-4-2 객체 내부의 행과 열 인덱스 속성

####  행의 인덱스 정보 확인하기

In [20]:
tips.index

RangeIndex(start=0, stop=244, step=1)

#### 열의 인덱스 정보 확인하기

In [21]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### 1-4-3 열에 저장된 값들에 대한 자료형 알아보기

In [22]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [23]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

# 2. 판다스 행과 열 접근 알아보기

In [24]:
import numpy as np

## 2-1 모듈 설치하기 

    주식 정보를 가져오기 위한 모듈 설치 
    pip install -U finance-datareader

In [25]:
import FinanceDataReader as fdr
fdr.__version__

'0.7.2'

## 2-2 데이터 프레임 검색하기

### 한국 증권거래소에 등록된 기업 정보 가져오기

In [26]:
df_krx = fdr.StockListing('KRX')

### 가져온 정보를 알아보기

In [27]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 각 열에 정보 파악하기 

   판다스의 자료형이 object 일경우는 파이썬 문자열 자료형으로 데이터가 만들어진 것입니다.

In [28]:
df_krx.dtypes

Symbol      object
Name        object
Sector      object
Industry    object
dtype: object

### 기본 열의 이름으로 검색 : 결과는 시리즈

In [29]:
t_s = df_krx['Name']

### 데이터프레임 내의 하나의 열은 시리즈 객체로 구성됩니다.

In [30]:
type(t_s)

pandas.core.series.Series

### 시리즈의 정보도 head 메소드를 통해 일부만 볼 수 있습니다.

In [31]:
t_s.head()

0    GS글로벌
1    HSD엔진
2    KG케미칼
3    LG이노텍
4      OCI
Name: Name, dtype: object

### 팬시 검색을 이용하면 동일한 자료형으로 처리됩니다

In [32]:
t_d = df_krx[['Name']]

In [33]:
type(t_d)

pandas.core.frame.DataFrame

In [34]:
t_d.head()

    Name
0  GS글로벌
1  HSD엔진
2  KG케미칼
3  LG이노텍
4    OCI

### 열에 대한 인덱스 정보를 확인합니다

In [35]:
df_krx.columns

Index(['Symbol', 'Name', 'Sector', 'Industry'], dtype='object')

### 팬시 검색으로 두 개의 열을 가져옵니다.

      팬시 검색도 별도의 사본을 만들지만 갱신할 때 경고창이 나오므로 명확히 copy 메소드를 사용하는 것이 좋습니다.

In [36]:
t_ts = df_krx[['Symbol','Name']].copy()

In [37]:
t_ts.head()

   Symbol   Name
0  001250  GS글로벌
1  082740  HSD엔진
2  001390  KG케미칼
3  011070  LG이노텍
4  010060    OCI

###  인덱서 알아보기

#### 명시적인 행과 열의 이름을 가지고 접근

In [73]:
t_ts.loc

In [81]:
t_ts.loc[1, ["Symbol"]]

Symbol    082740
Name: 1, dtype: object

#### 암묵적인 정수 인덱스정보를 가지고 행과 열에 접근

In [74]:
t_ts.iloc

In [79]:
t_ts.iloc[1, [0]]

Symbol    082740
Name: 1, dtype: object

In [78]:
t_ts.iloc[1, 0]

'082740'

#### 특정 값만 검색

In [75]:
t_ts.at

In [83]:
t_ts.at[1, "Symbol"]

'082740'

In [76]:
t_ts.iat

In [85]:
t_ts.iat[1, 0]

'082740'

### 팬시검색은 다른 사본을 만듭니다. 

     갱신을 해도 원본에는 변화가 없습니다

In [38]:
t_ts.loc[0,'Symbol'] = 0

In [39]:
t_ts.head()

   Symbol   Name
0       0  GS글로벌
1  082740  HSD엔진
2  001390  KG케미칼
3  011070  LG이노텍
4  010060    OCI

In [40]:
 df_krx.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 팬시 검색은 데이터에 대한 메모리 공유를 하지 않습니다

In [41]:
np.may_share_memory(t_ts, df_krx)

False

## 2-3 행 기준으로 검색하기

### 인덱스 정보인 이름으로 명시적으로 처리할 경우 loc 인덱서 사용

In [42]:
df_krx.loc[0]

Symbol                                                 001250
Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 0, dtype: object

### 하나의 행으로 검색하면 시리즈 객체가 됩니다.

In [43]:
se = df_krx.loc[0]

In [44]:
type(se)

pandas.core.series.Series

### 인덱스 검색일 경우는 동일한 메모리 정보를 유지합니다

In [45]:
np.may_share_memory(se, df_krx)

True

###  숫자 인덱스 대신 열을 이용해서 인덱스 재지정하기

In [46]:
df_krx_ri = df_krx.set_index('Symbol')

In [47]:
df_krx_ri.head()

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 명시적 명칭과 암묵적 위치 정보로 처리하기

In [48]:
df_krx_ri.loc['001250']

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

### 판다스는 행과 열이 배열을 처리해서 암묵적으로 정수 인덱스를 가지고있습니다.

In [49]:
df_krx_ri.iloc[0]

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

### 슬라이스를 이용해서 명시적 인덱스와 암묵적 인덱스 처리하기

In [50]:
df_krx_ri.loc[:'010060', ['Name']]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

In [51]:
df_krx_ri.iloc[:5]

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 슬라이스와 팬시 인덱스를 같이 사용하기

In [52]:
df_krx_ri.iloc[:5, 0]

Symbol
001250    GS글로벌
082740    HSD엔진
001390    KG케미칼
011070    LG이노텍
010060      OCI
Name: Name, dtype: object

In [53]:
df_krx_ri.iloc[:5, [0]]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

### 코스피 상장 기업만 가져오기

In [54]:
df_kospi = fdr.StockListing('KOSPI')

In [55]:
df_kospi.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

In [56]:
df_kospi.shape

(790, 4)

### 코스닥 상장 기업만 가져오기

In [57]:
df_kosdaq = fdr.StockListing('KOSDAQ')

In [58]:
df_kosdaq.head()

   Symbol     Name          Sector             Industry
0  051500  CJ프레시웨이  음·식료품 및 담배 도매업          식자재유통, 단체급식
1  083660  CSA 코스믹      플라스틱제품 제조업    물탱크,상하수도용도류벽,축산탱크
2  130500    GH신소재     기타 섬유제품 제조업    자동차용 부직포, 폴리우레탄 폼
3  083450      GST   특수 목적용 기계 제조업  GasScrubber,Chiller
4  024120   KB오토시스   자동차 신품 부품 제조업               브레이크패드

In [59]:
df_kosdaq.shape

(1335, 4)