In [1]:
import sys

In [2]:
sys.version_info

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS")
else :
    print(" Windows ")

 Mac OS

# 1. 판다스 행과 열 변경하기

## 1-1 판다스 모듈을 먼저 import 

     pandas 모듈은 관행적은 pd라는 이름을 별칭으로 사용합니다.

In [4]:
import pandas as pd

In [5]:
import numpy as np

## 데이터의 변형

    . 다른 인덱스에 매핑 (  map)
    . 명시적으로 특정 값을 변경하거나 자료형 변경 ( replace)
    . 특정 함수나 메소드를 이용해서 값을 변경 ( apply)
    . 불필요한 열이나 행 삭제 (drop)

### 시리즈와 데이터프레임 내에 함수가 있는 지 확인

####  모든 값을 변형하는 함수

In [6]:
pd.Series.map

In [7]:
try :
    pd.DataFrame.map
except Exception as e :
    print(e)

type object 'DataFrame' has no attribute 'map'

#### 특정 값을 변경

In [8]:
pd.Series.replace

In [9]:
pd.DataFrame.replace

###  전달된 함수에 대해 전체 변경

In [10]:
pd.Series.apply

In [11]:
pd.DataFrame.apply

### 삭제

In [12]:
pd.Series.drop

In [13]:
pd.DataFrame.drop

## 1-2 미국 상장 정보 가져오기

In [14]:
import FinanceDataReader as fdr
fdr.__version__

'0.7.2'

In [15]:
df_sp500 = fdr.StockListing('sp500')

In [16]:
df_sp500.head()

,Symbol,Name,Sector,Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services

#### 사본을 만들기

In [17]:
df_sp500_ = df_sp500.copy()

## 1-3 열을 추가하기

### insert 메소드로 추가하기

In [18]:
df_sp500_.insert(1, "테스트 열 추가", "추가된 열")

In [19]:
df_sp500_.head()

,Symbol,테스트 열 추가,Name,Sector,Industry
0,MMM,추가된 열,3M Company,Industrials,Industrial Conglomerates
1,ABT,추가된 열,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,추가된 열,AbbVie Inc.,Health Care,Pharmaceuticals
3,ABMD,추가된 열,ABIOMED Inc,Health Care,Health Care Equipment
4,ACN,추가된 열,Accenture plc,Information Technology,IT Consulting & Other Services

#### 검색연산을 이용해서 추가하기

In [20]:
df_sp500_["인덱스로 열 추가"] = df_sp500_['Symbol']

In [21]:
df_sp500_.head()

,Symbol,테스트 열 추가,Name,Sector,Industry,인덱스로 열 추가
0,MMM,추가된 열,3M Company,Industrials,Industrial Conglomerates,MMM
1,ABT,추가된 열,Abbott Laboratories,Health Care,Health Care Equipment,ABT
2,ABBV,추가된 열,AbbVie Inc.,Health Care,Pharmaceuticals,ABBV
3,ABMD,추가된 열,ABIOMED Inc,Health Care,Health Care Equipment,ABMD
4,ACN,추가된 열,Accenture plc,Information Technology,IT Consulting & Other Services,ACN

#### 스칼라 값을 추가시에는 인덱서를 이용해서 추가

In [22]:
df_sp500_.loc[:,"스칼라 값 추가"] = 0

In [23]:
df_sp500_.head()

,Symbol,테스트 열 추가,Name,Sector,Industry,인덱스로 열 추가,스칼라 값 추가
0,MMM,추가된 열,3M Company,Industrials,Industrial Conglomerates,MMM,0
1,ABT,추가된 열,Abbott Laboratories,Health Care,Health Care Equipment,ABT,0
2,ABBV,추가된 열,AbbVie Inc.,Health Care,Pharmaceuticals,ABBV,0
3,ABMD,추가된 열,ABIOMED Inc,Health Care,Health Care Equipment,ABMD,0
4,ACN,추가된 열,Accenture plc,Information Technology,IT Consulting & Other Services,ACN,0

## 1-4 열 삭제하기

#### del 키워드로 삭제할 때는 내부 객체 값이 변경됨

In [24]:
del df_sp500_["스칼라 값 추가"]

In [25]:
df_sp500_.head()

,Symbol,테스트 열 추가,Name,Sector,Industry,인덱스로 열 추가
0,MMM,추가된 열,3M Company,Industrials,Industrial Conglomerates,MMM
1,ABT,추가된 열,Abbott Laboratories,Health Care,Health Care Equipment,ABT
2,ABBV,추가된 열,AbbVie Inc.,Health Care,Pharmaceuticals,ABBV
3,ABMD,추가된 열,ABIOMED Inc,Health Care,Health Care Equipment,ABMD
4,ACN,추가된 열,Accenture plc,Information Technology,IT Consulting & Other Services,ACN

####  pop 메소드로 할 때도 내부 객체가 변경되며 대신 삭제된 열 정보가 반환됨

In [26]:
x = df_sp500_.pop('테스트 열 추가')

In [27]:
x.head()

0    추가된 열
1    추가된 열
2    추가된 열
3    추가된 열
4    추가된 열
Name: 테스트 열 추가, dtype: object

In [28]:
df_sp500_.head()

,Symbol,Name,Sector,Industry,인덱스로 열 추가
0,MMM,3M Company,Industrials,Industrial Conglomerates,MMM
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,ABT
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,ABBV
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,ABMD
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,ACN

#### drop 메소드로 삭제할 때는 새로운 사본을 만들고 원본은 그래도 유지

In [29]:
df_drop = df_sp500_.drop('인덱스로 열 추가', axis=1)

In [30]:
df_drop.head()

,Symbol,Name,Sector,Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services

In [31]:
df_sp500_.head()

,Symbol,Name,Sector,Industry,인덱스로 열 추가
0,MMM,3M Company,Industrials,Industrial Conglomerates,MMM
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,ABT
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,ABBV
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment,ABMD
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,ACN

# 2. 판다스 모양 바꾸기

## 2-1 엑셀 파일을 읽기

In [32]:
file_path = './data/마법공식 데이터.xlsx'

### 엑셀 내의 sheet 이름별로 파일 가져오기

In [33]:
df_per =pd.read_excel(file_path, sheet_name='PER')

In [34]:
df_per.head()

      회사명    PER
0      3S -11.87
1  AJ네트웍스  25.15
2   AJ렌터카  24.85
3   AK홀딩스  11.49
4  APS홀딩스   0.23

### 두번째 시트 읽기

In [35]:
df_roa =pd.read_excel(file_path, sheet_name='ROA')

In [36]:
df_roa_rename = df_roa.copy()

In [37]:
df_roa.head()

      회사명  ROA(영업이익)(%)
0      3R           NaN
1      3S           NaN
2   3SOFT           NaN
3  3노드디지탈           NaN
4   AD모터스           NaN

### 열의 인덱스 정보 교체하기 

     동일한 개수의 배열을 만들어서 사용하면 열의 이름이 변경됩니다.

In [38]:
df_roa_rename.head()

      회사명  ROA(영업이익)(%)
0      3R           NaN
1      3S           NaN
2   3SOFT           NaN
3  3노드디지탈           NaN
4   AD모터스           NaN

#### rename 메소드를 이용해서 칼럼명 변경

In [39]:
df_roa_rename_ = df_roa_rename.rename(columns= {'ROA(영업이익)(%)': 'ROA'})

In [40]:
df_roa_rename_.head()

      회사명  ROA
0      3R  NaN
1      3S  NaN
2   3SOFT  NaN
3  3노드디지탈  NaN
4   AD모터스  NaN

#### 직접 columns 속성에 변경하기

In [41]:
df_roa.columns = ['회사명','ROA']

In [42]:
df_roa.head()

      회사명  ROA
0      3R  NaN
1      3S  NaN
2   3SOFT  NaN
3  3노드디지탈  NaN
4   AD모터스  NaN

### 결측값 정수로 변경하기

     파일 내에 값이 없는 경우에 결측값으로 처리해 줍니다. 
     결측값으로 계산하기 어려워서 이를 임의의 값으로 변환합니다.

In [43]:
df_roa = df_roa.fillna(0)

## 2-2 두 개의 파일을 병합하기

### 두 개의 데이터프레임을 특정 열을 기준으로 병합하기

In [44]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

###  동일한 열의 이름이 있을 경우는 그 기준으로 병합이 됨

        - 공통된 열이 있는 지 파악
        - 식별된 열을 키로 해서 나머지 열 모두 포함
        - 두 데이터프레임의 공통된 열을 기준으로 일치
        - 일치된 열을 기준으로 행을 처리 
        - 새로운 객체를 만들고 자료형을 세팅함

In [45]:
pd.merge(df_roa,df_per).head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

In [46]:
pd.merge(df_roa,df_per).head().dtypes

회사명     object
ROA    float64
PER    float64
dtype: object

### 두 개의 파일의 동일한 정보인 회사명 열을 기준으로 병합

In [47]:
df_total = pd.merge(df_roa,df_per, on="회사명")

In [48]:
df_total.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

### 결측값이 있는 지를 확인하고 결측값이 True 이면 합계를 계산할 수 있습니다.

    결측값이 없어서 전부 0으로 처리됩니다.

In [49]:
df_total.isna().sum()

회사명    0
ROA    0
PER    0
dtype: int64

### csv 파일로 저장히기

In [50]:
df_total.to_csv('./data/total.csv')

### 저장된 csv 파일을 읽기

In [51]:
df_total_csv = pd.read_csv('./data/total.csv')

In [52]:
df_total_csv.head()

   Unnamed: 0     회사명    ROA    PER
0           0      3S   0.00 -11.87
1           1  AJ네트웍스   3.43  25.15
2           2   AJ렌터카   3.39  24.85
3           3   AK홀딩스  11.36  11.49
4           4   AP시스템  11.92  14.63

### 불필요한 열 제거

     특정한 인덱스를 지정하기 않아서 index 정보도 열로 저장된 것을 확인할 수 있습니다.
     이 열을 제거합니다.

In [53]:
df_total_csv= df_total_csv.drop('Unnamed: 0', axis=1)

In [54]:
df_total_csv.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

## csv 파일을 읽고 처리하기

#### 파일이 있는 곳을 문자열로 표시해서 변수에 저장

In [55]:
path = './data/googleplaystore.csv'

#### csv 파일을 읽으면 데이터프레임으로 저장

In [56]:
gstore = pd.read_csv(path)

In [57]:
type(gstore)

pandas.core.frame.DataFrame

In [58]:
gstore.shape

(10841, 13)

#### 내부에 저장된 칼럼을 확인

In [59]:
gstore.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

####  행의 갯수가 부족한 경우는 결측값이 존재함

In [60]:
gstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### 결측값을 0으로 처리

#### 결측값에 대해 있는 여부를 확인하고 개수를 확인

In [61]:
gstore.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

#### 결측값을 0으로 처리

In [62]:
gstore = gstore.fillna(0)

#### 결측값을 확인

In [63]:
gstore.isna().sum().sum()

0

### 타입에서 0 값을 제거하기

In [64]:
gstore['Type'] = gstore.Type.str.replace('0', 'Free')

In [65]:
gstore['Type'].value_counts()

Free    10040
Paid      800
Name: Type, dtype: int64

## 2-3 피봇 구성하기 

        열을 행으로 바꿔서 처리하기

## 하나의 칼럼에 속한 값들을 열로 처리하기

### 내부의 값을 정렬하기

In [67]:
gstore_pt = gstore.sort_values('Type')

### 중복을 제거해서 처리

In [68]:
gstore_pt = gstore.drop_duplicates("App")

In [69]:
gstore_pt.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 피봇 구성

In [70]:
gstore_pt.pivot(index='App', columns= 'Type',values='Rating').head()

Type                                  NaN  Free  Paid
App
"i DT" Fútbol. Todos Somos Técnicos.  NaN   0.0   NaN
+Download 4 Instagram Twitter         NaN   4.5   NaN
- Free Comics - Comic Apps            NaN   3.5   NaN
.R                                    NaN   4.5   NaN
/u/app                                NaN   4.7   NaN

### 기존 데이터프레이를 변경해서 unstack으로 처리해도 구성할 수 있음

In [71]:
gstore_pt.set_index(["App", "Type"]).head()

,,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,Type,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,Free,ART_AND_DESIGN,4.1,159,19M,"10,000+",0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
Coloring book moana,Free,ART_AND_DESIGN,3.9,967,14M,"500,000+",0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
"U Launcher Lite – FREE Live Cool Themes, Hide Apps",Free,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
Sketch - Draw & Paint,Free,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,Free,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 두개를 인덱스로 잡고 하나를 값으로 처리

In [72]:
gstore_pt.set_index(["App", "Type"])[["Rating"]].head()

                                                         Rating
App                                                Type
Photo Editor & Candy Camera & Grid & ScrapBook     Free     4.1
Coloring book moana                                Free     3.9
U Launcher Lite – FREE Live Cool Themes, Hide Apps Free     4.7
Sketch - Draw & Paint                              Free     4.5
Pixel Draw - Number Art Coloring Book              Free     4.3

### 행의 인덱스를 중에 하나를 칼럼으로 변경

In [73]:
gstore_pt.set_index(["App", "Type"])[["Rating"]].unstack().head()

                                     Rating
Type                                    NaN Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    NaN  0.0  NaN
+Download 4 Instagram Twitter           NaN  4.5  NaN
- Free Comics - Comic Apps              NaN  3.5  NaN
.R                                      NaN  4.5  NaN
/u/app                                  NaN  4.7  NaN

## 2-4 피봇 테이블 구성하기 


    pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')
    
        data: 분석할 데이터프레임 (메서드일 때는 필요하지 않음)
        values: 분석할 데이터프레임에서 분석할 열
        index: 행 인덱스로 들어갈 키 열 또는 키 열의 리스트
        columns: 열 인덱스로 들어갈 키 열 또는 키 열의 리스트
        aggfunc: 분석 메서드
        fill_value: NaN 대체 값
        margins: 모든 데이터를 분석한 결과를 오른쪽과 아래에 붙일지 여부
        margins_name: 마진 열(행)의 이름

## 피봇을 구성하고 내부에 연산을 통해 값을 변경할 수 있다.

### 특정 열의 값들이 분포를 확인합니다.

In [74]:
gstore.Type.value_counts()

Free    10040
Paid      800
Name: Type, dtype: int64

### 피봇테이블은  columns을 지정한 열을 기준으로 값의 열을 행단위로 재배치

#### 특정 칼럼을 인덱스로 지정하고 열 이름과 그 열에 들어갈 값을 지정

In [75]:
gstore_cat = gstore.pivot_table(index='App', columns= 'Type',values=['Rating'])

#### 칼럼이 멀티인덱스를 구성합니다.  각 멀티 열에는 이름이 부여됩니다.

In [76]:
gstore_cat.columns

MultiIndex(levels=[['Rating'], ['Free', 'Paid']],
           codes=[[0, 0], [0, 1]],
           names=[None, 'Type'])

In [77]:
gstore_cat.head()

                                     Rating
Type                                   Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    0.0  NaN
+Download 4 Instagram Twitter           4.5  NaN
- Free Comics - Comic Apps              3.5  NaN
.R                                      4.5  NaN
/u/app                                  4.7  NaN

### 결측값을 초기화 합니다

In [78]:
gstore_cat = gstore_cat.fillna(0)

In [79]:
gstore_cat.head()

                                     Rating
Type                                   Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    0.0  0.0
+Download 4 Instagram Twitter           4.5  0.0
- Free Comics - Comic Apps              3.5  0.0
.R                                      4.5  0.0
/u/app                                  4.7  0.0

In [80]:
#. gstore.pivot_table(index='App', columns= 'Type',values=['Rating'])

In [81]:
gstore.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [82]:
gstore_cat.head()

                                     Rating
Type                                   Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    0.0  0.0
+Download 4 Instagram Twitter           4.5  0.0
- Free Comics - Comic Apps              3.5  0.0
.R                                      4.5  0.0
/u/app                                  4.7  0.0

###  마진에 들어갈 합계 처리하기

In [83]:
gstore.pivot_table(index="App", columns = "Type",values= "Rating",margins=True, margins_name="합계", aggfunc='sum').tail()

Type                                                 Free    Paid       합계
App
💎 I'm rich                                            NaN     3.8      3.8
💘 WhatsLov: Smileys of love, stickers and GIF         4.6     NaN      4.6
📏 Smart Ruler ↔️ cm/inch measuring for homework!      4.0     NaN      4.0
🔥 Football Wallpapers 4K | Full HD Backgrounds 😍      4.7     NaN      4.7
합계                                                36518.5  2760.5  39279.0

## 2-5 멜트 처리하기 

     여러 열을 하나의 변수 열로 통합하기

## 피봇과 다르게 열의 정보를 통합해서 행의 값으로 처리

In [84]:
gstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 특정 열을 변수로 통합하기

#### 두 개의 열을 하나로 통합하고 이 내부의 값을 하나로 표시합니다.

In [85]:
gstore_melt = pd.melt(gstore, id_vars=['App'], var_name="Type_Price", value_vars=['Type',"Price"])

#### 기존 데이터프레임이 축소된 것을 알 수 있습니다.

In [86]:
gstore.shape ,  gstore_melt.shape

((10841, 13), (21682, 3))

In [87]:
gstore_melt.head()

                                                 App Type_Price value
0     Photo Editor & Candy Camera & Grid & ScrapBook       Type  Free
1                                Coloring book moana       Type  Free
2  U Launcher Lite – FREE Live Cool Themes, Hide ...       Type  Free
3                              Sketch - Draw & Paint       Type  Free
4              Pixel Draw - Number Art Coloring Book       Type  Free

####  두 개의 열이 하나의 열로 통합됩니다.

In [88]:
gstore_melt[10827:10853]

                                                     App Type_Price value
10827                                 Fr Agnel Ambarnath       Type  Free
10828                            Manga-FR - Anime Vostfr       Type  Free
10829                     Bulgarian French Dictionary Fr       Type  Free
10830                                  News Minecraft.fr       Type  Free
10831                           payermonstationnement.fr       Type  Free
10832                                           FR Tides       Type  Free
10833                                        Chemin (fr)       Type  Free
10834                                      FR Calculator       Type  Free
10835                                           FR Forms       Type  Free
10836                                   Sya9a Maroc - FR       Type  Free
10837                   Fr. Mike Schmitz Audio Teachings       Type  Free
10838                             Parkinson Exercices FR       Type  Free
10839                      The SCP Foundation DB fr nn5n       Type  Free
10840      iHoroscope - 2018 Daily Horoscope & Astrology       Type  Free
10841     Photo Editor & Candy Camera & Grid & ScrapBook      Price     0
10842                                Coloring book moana      Price     0
10843  U Launcher Lite – FREE Live Cool Themes, Hide ...      Price     0
10844                              Sketch - Draw & Paint      Price     0
10845              Pixel Draw - Number Art Coloring Book      Price     0
10846                         Paper flowers instructions      Price     0
10847            Smoke Effect Photo Maker - Smoke Editor      Price     0
10848                                   Infinite Painter      Price     0
10849                               Garden Coloring Book      Price     0
10850                      Kids Paint Free - Drawing Fun      Price     0
10851                            Text on Photo - Fonteee      Price     0
10852            Name Art Photo Editor - Focus n Filters      Price     0