## 예제 10-4-1 모듈을 이용해서 데이터 가저오기

In [2]:
import pandas as pd

In [3]:
import FinanceDataReader as fdr

In [4]:
fdr.__version__

'0.7.2'

###   차트 설정

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["font.family"] =  "Malgun Gothic"
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

## 상장기업 정보 가져오기

In [38]:
df_krx = fdr.StockListing('KRX')

In [7]:
type(df_krx)

pandas.core.frame.DataFrame

In [8]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,001040,CJ,기타 금융업,지주회사
1,011150,CJ씨푸드,기타 식품 제조업,"수산물(어묵,맛살)가공품 도매,원양수산업,수출입"
2,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
3,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

In [9]:
df_krx.tail()

,Symbol,Name,Sector,Industry
2260,199800,툴젠,자연과학 및 공학 연구개발업,"유전자가위 (유전체 교정 도구) 및 이를 이용한 유전자세포치료제, 고부가가치 가축,..."
2261,228180,티씨엠생명과학,자연과학 및 공학 연구개발업,체외진단서비스 개발 및 진단 용역
2262,217880,틸론,소프트웨어 개발 및 공급업,"Cloud Solution (D,A,E,Rstation)"
2263,278990,파인이엠텍,그외 기타 제품 제조업,"차량용 AVN, 휴대폰 액세서리"
2264,202960,판도라티비,소프트웨어 개발 및 공급업,"판도라TV, KM 플레이어"

In [10]:
df_krx.shape, df_krx.ndim, df_krx.size

((2265, 4), 2, 9060)

In [11]:
df_krx.values

array([['001040', 'CJ', '기타 금융업', '지주회사'],
       ['011150', 'CJ씨푸드', '기타 식품 제조업', '수산물(어묵,맛살)가공품 도매,원양수산업,수출입'],
       ['082740', 'HSD엔진', '일반 목적용 기계 제조업', '대형선박용엔진,내연발전엔진'],
       ...,
       ['217880', '틸론', '소프트웨어 개발 및 공급업',
        'Cloud Solution (D,A,E,Rstation)'],
       ['278990', '파인이엠텍', '그외 기타 제품 제조업', '차량용 AVN, 휴대폰 액세서리'],
       ['202960', '판도라티비', '소프트웨어 개발 및 공급업', '판도라TV, KM 플레이어']],
      dtype=object)

In [12]:
df_krx.columns

Index(['Symbol', 'Name', 'Sector', 'Industry'], dtype='object')

In [13]:
df_krx.dtypes

Symbol      object
Name        object
Sector      object
Industry    object
dtype: object

In [14]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2265 entries, 0 to 2264
Data columns (total 4 columns):
Symbol      2265 non-null object
Name        2265 non-null object
Sector      2265 non-null object
Industry    2243 non-null object
dtypes: object(4)
memory usage: 70.9+ KB

### 결측치 정리

In [39]:
df_krx['isnan'] = df_krx.isna()['Industry']

In [40]:
df_krx.head()

,Symbol,Name,Sector,Industry,isnan
0,001040,CJ,기타 금융업,지주회사,False
1,011150,CJ씨푸드,기타 식품 제조업,"수산물(어묵,맛살)가공품 도매,원양수산업,수출입",False
2,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진",False
3,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",False
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매",False

In [41]:
d = df_krx[df_krx['isnan'] == True]

In [42]:
d.shape

(22, 5)

In [43]:
d.head()

     Symbol       Name               Sector Industry  isnan
82   168490      한국패러랠          신탁업 및 집합투자업      NaN   True
262  191600       티케이씨             전자부품 제조업      NaN   True
295  102260    동성코퍼레이션  회사 본부 및 경영 컨설팅 서비스업      NaN   True
365  241590   화승엔터프라이즈               기타 금융업      NaN   True
375  297570  IBKS제9호스팩           금융 지원 서비스업      NaN   True

In [44]:
import numpy as np

In [45]:
df_krx['Industry'] =  np.where(df_krx['isnan'] == True, df_krx['Sector'], df_krx['Industry'])

In [46]:
df_krx.loc[82]

Symbol           168490
Name              한국패러랠
Sector      신탁업 및 집합투자업
Industry    신탁업 및 집합투자업
isnan              True
Name: 82, dtype: object

In [47]:
df_krx['Industry'].isna().sum()

0

In [48]:
del df_krx['isnan']

In [49]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,001040,CJ,기타 금융업,지주회사
1,011150,CJ씨푸드,기타 식품 제조업,"수산물(어묵,맛살)가공품 도매,원양수산업,수출입"
2,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
3,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"